.svg-boat-bijeli {
	background: url("../images/spritece.svg") 77.36625514403292% 54.60992907801418% no-repeat;
}

.svg-boat-bijeli-dims {
	width: 50px;
	height: 36px;
}

.svg-bus-bijeli {
	background: url("../images/spritece.svg") 87.65432098765432% 54.60992907801418% no-repeat;
}

.svg-bus-bijeli-dims {
	width: 50px;
	height: 36px;
}

.svg-but-menu {
	background: url("../images/spritece.svg") 62.8% 73.04964539007092% no-repeat;
}

.svg-but-menu-dims {
	width: 36px;
	height: 36px;
}

.svg-but-menu-close {
	background: url("../images/spritece.svg") 70% 73.04964539007092% no-repeat;
}

.svg-but-menu-close-dims {
	width: 36px;
	height: 36px;
}

.svg-calendar {
	background: url("../images/spritece.svg") 0 100% no-repeat;
}

.svg-calendar-dims {
	width: 220px;
	height: 220px;
}

.svg-calendar-tplava {
	background: url("../images/spritece.svg") 68.59504132231405% 36.8421052631579% no-repeat;
}

.svg-calendar-tplava-dims {
	width: 52px;
	height: 52px;
}

.svg-car-bijeli {
	background: url("../images/spritece.svg") 97.94238683127573% 54.60992907801418% no-repeat;
}

.svg-car-bijeli-dims {
	width: 50px;
	height: 36px;
}

.svg-check {
	background: url("../images/spritece.svg") 77.2% 73.04964539007092% no-repeat;
}

.svg-check-dims {
	width: 36px;
	height: 36px;
}

.svg-contact-skype {
	background: url("../images/spritece.svg") 79.33884297520662% 36.8421052631579% no-repeat;
}

.svg-contact-skype-dims {
	width: 52px;
	height: 52px;
}

.svg-contact-viber {
	background: url("../images/spritece.svg") 90.08264462809917% 36.8421052631579% no-repeat;
}

.svg-contact-viber-dims {
	width: 52px;
	height: 52px;
}

.svg-contact-whatsup {
	background: url("../images/spritece.svg") 45.45454545454545% 57.89473684210526% no-repeat;
}

.svg-contact-whatsup-dims {
	width: 52px;
	height: 52px;
}

.svg-croatiaexcursion-logo {
	background: url("../images/spritece.svg") 0 0 no-repeat;
}

.svg-croatiaexcursion-logo-dims {
	width: 536px;
	height: 98px;
}

.svg-home {
	background: url("../images/spritece.svg") 45.267489711934154% 76.86567164179104% no-repeat;
}

.svg-home-dims {
	width: 50px;
	height: 50px;
}

.svg-minus {
	background: url("../images/spritece.svg") 45.833333333333336% 37.404580152671755% no-repeat;
}

.svg-minus-dims {
	width: 56px;
	height: 56px;
}

.svg-osoba-bijela {
	background: url("../images/spritece.svg") 97.40518962075848% 36.43122676579926% no-repeat;
}

.svg-osoba-bijela-dims {
	width: 35px;
	height: 49px;
}

.svg-plus {
	background: url("../images/spritece.svg") 57.5% 37.404580152671755% no-repeat;
}

.svg-plus-dims {
	width: 56px;
	height: 56px;
}

.svg-povecalo1 {
	background: url("../images/spritece.svg") 56.19834710743802% 57.89473684210526% no-repeat;
}

.svg-povecalo1-dims {
	width: 52px;
	height: 52px;
}

.svg-print {
	background: url("../images/spritece.svg") 66.94214876033058% 57.89473684210526% no-repeat;
}

.svg-print-dims {
	width: 52px;
	height: 52px;
}

.svg-sn-facebook {
	background: url("../images/spritece.svg") 84.4% 73.04964539007092% no-repeat;
}

.svg-sn-facebook-dims {
	width: 36px;
	height: 36px;
}

.svg-sn-instagram {
	background: url("../images/spritece.svg") 91.6% 73.04964539007092% no-repeat;
}

.svg-sn-instagram-dims {
	width: 36px;
	height: 36px;
}

.svg-sn-youtube {
	background: url("../images/spritece.svg") 98.8% 73.04964539007092% no-repeat;
}

.svg-sn-youtube-dims {
	width: 36px;
	height: 36px;
}

.svg-sorry {
	background: url("../images/spritece.svg") 43.82470119521912% 90.14084507042253% no-repeat;
}

.svg-sorry-dims {
	width: 34px;
	height: 34px;
}

.svg-strelica-select {
	background: url("../images/spritece.svg") 54.8780487804878% 75.18248175182482% no-repeat;
}

.svg-strelica-select-dims {
	width: 44px;
	height: 44px;
}

