{
    "extends": "stylelint-config-recommended",
    "rules": {
        "indentation": 2,
        "string-quotes": "single",
        "no-duplicate-selectors": true,
        "color-hex-case": "lower",
        "comment-whitespace-inside": "always",
        "selector-attribute-quotes": "always",
        "selector-attribute-operator-space-before": "never",
        "selector-attribute-operator-space-after": "never",
        "selector-attribute-brackets-space-inside": "never",
        "declaration-block-trailing-semicolon": "always",
        "declaration-colon-space-before": "never",
        "declaration-colon-space-after": "always",
        "font-family-name-quotes": "always-where-recommended",
        "selector-pseudo-class-parentheses-space-inside": "never",
        "media-feature-range-operator-space-before": "always",
        "media-feature-range-operator-space-after": "always",
        "media-feature-colon-space-before": "never",
        "media-feature-colon-space-after": "always",
        "max-empty-lines": 5,
        "block-no-empty": null,
        "no-descending-specificity": null,
        "at-rule-no-unknown": [
        true,
        {
          "ignoreAtRules": [
            "extends"
          ]
        }
      ],
        "unit-whitelist": ["em", "rem", "%", "s","vw","vh","px","vmin","deg"]
    }
}